.card {
    width: 250px;
    border: 1px solid #ccc;
    /* padding: 10px; */
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
}
  
  .card:hover {
    transform: scale(1.05); /* Apply scaling effect on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }
  

  .card img {
    width: 100%;
    height: 230px;
  }
  
  .card h3 {
    margin-top: 10px;
    color: rgb(61, 8, 8);
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    font-weight: 600;
  }
  
  .card p {
    margin-top: 3px;
    /* padding-bottom: 20px; */
  }
  
  .card .price {
    font-weight: bold;
    color: rgb(202, 15, 15);
  }
  
 
